<ol id="presentation-list">
  <li>
    <section class="left">
      <h1>Good Afternoon!</h1>
      <h2>Please grab a numbered ticket if you would like to join the show on the stage.</h2>
    </section>
    <section class="right">
      <h1>こんにちは</h1>
      <h2>ステージのゲームに参加したい方は、番号札を取ってください。</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Welcome!</h1>
    </section>
    <section class="right">
      <h1>ようこそ！</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>The Ruby Challenge</h1>
    </section>
    <section class="right">
      <h1>Rubyの挑戦</h1>
    </section>
    <p>"Ruby no chousen"</p>
  </li>
  <li>
    <section class="left">
      <h1>How To Play</h1>
    </section>
    <section class="right">
      <h1>遊び方</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>1. Ticket</h1>
    </section>
    <section class="right">
      <h1>1. 番号札</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Numbered Ticket</h1>
      <h2>You should already have a ticket with number on it.</h2>
    </section>
    <section class="right">
      <h1>番号札</h1>
      <h2>番号札の所有を確認してください</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Only 180 Tickets</h1>
      <h2>I am sorry if you could not get one.</h2>
    </section>
    <section class="right">
      <h1>枚数：１８０枚</h1>
      <h2>手に入れられなかった方には申し訳ありません</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>2. Picking Contestant</h1>
    </section>
    <section class="right">
      <h1>2. 挑戦者の選び方</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Random Selection!</h1>
      <h2>Please come up on the stage if your number is on the screen.</h2>
    </section>
    <section class="right">
      <h1>ランダムで！</h1>
      <h2>表示された番号の札を持っている方は、ステージまでお越し下さい</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>3. Code Challenges</h1>
    </section>
    <section class="right">
      <h1>3. コードチャレンジ</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>5 Random Code Challenges</h1>
    </section>
    <section class="right">
      <h1>ランダム出題で５問</h1>
    </section>
    <p>You'll be presented with 5 random code challenges</p>
  </li>
  <li>
    <section class="left">
      <h1>1 Challenge At A Time</h1>
    </section>
    <section class="right">
      <h1>１問ずつ</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>2 Code Samples Side-By-Side</h1>
      <h2>You have 15 seconds to pick one that you think it is faster.</h2>
    </section>
    <section class="right">
      <h1>コードサンプルが２個並んでいて、</h1>
      <h2>１５秒以内に、実行が一番早いのを選んでいただきます</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>3 Out of 5</h1>
      <h2>You'll win a prize.</h2>
    </section>
    <section class="right">
      <h1>３個当たれば勝ち</h1>
      <h2>優勝者にご褒美</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>4. Prize!</h1>
    </section>
    <section class="right">
      <h1>4. Prize!</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>thoughtbot T-Shirt</h1>
    </section>
    <section class="right">
      <h1>thoughtbotのティーシャツ</h1>
    </section>
    <p>Please come pick your size after you win! If I don't have it, I'll send it to you afterward.</p>
  </li>
  <li>
    <section class="left">
      <h1>5. Disclaimer</h1>
    </section>
    <section class="right">
      <h1>5. 免責事項</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>ruby 2.1.3p242</h1>
    </section>
    <section class="right">
      <h1>ruby 2.1.3p242</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1><code>Benchmark.bmbm</code></h1>
      <h2>Avoid cost of memory allocation and garbage collection.</h2>
    </section>
    <section class="right">
      <h1><code>Benchmark.bmbm</code></h1>
      <h2>メモリの割り当てとガベージコレクションのコストを避けて</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Skewed Benchmark</h1>
      <h2>Number of iterations has been increased to make time significant.</h2>
    </section>
    <section class="right">
      <h1>不正確なベンチマーク</h1>
      <h2>サンプルの実行を遅くする為、イテレーションの数を増加しました</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>May Not Be Real-World</h1>
      <h2>The difference may be insignificant for real world usage.</h2>
    </section>
    <section class="right">
      <h1>リアルな結果ではありません</h1>
      <h2>実際の差は取るに足りません</h2>
    </section>
    <p>Sacrificing syntax over small improvement, etc.</p>
  </li>
  <li>
    <section class="left">
      <h1>Are You Ready?</h1>
    </section>
    <section class="right">
      <h1>Are You Ready?</h1>
    </section>
  </li>
</ul>
