<ol id="presentation-list">
  <li>
    <section class="left">
      <h1>Good Afternoon!</h1>
      <h2>Please grab a numbered ticket if you would like to join the show on the stage.</h2>
    </section>
    <section class="right">
      <h1>こんにちは！</h1>
      <h2>あなたはステージ上でのショーに参加したい場合は、整理券をつかむください。</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>The Ruby Challenge</h1>
    </section>
    <section class="right">
      <h1>Rubyの挑戦</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>How to play?</h1>
    </section>
    <section class="right">
      <h1>それがどのように動作しますか？</h1>
    </section>
  </li>
</ul>
