<ol id="presentation-list">
  <li>
    <section class="left">
      <h1>Good Afternoon!</h1>
      <h2>Please grab a numbered ticket if you would like to join the show on the stage.</h2>
    </section>
    <section class="right">
      <h1>こんにちは！</h1>
      <h2>あなたはステージ上でのショーに参加したい場合は、整理券をつかむください。</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Welcome!</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>The Ruby Challenge</h1>
    </section>
    <section class="right">
      <h1>Rubyの挑戦</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>How To Play?</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>1. Ticket</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Numbered Ticket</h1>
      <h2>You should already have a ticket with number on it.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Only 180 Tickets</h1>
      <h2>I am sorry if you could not get one.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>2. Picking Contestant</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Random Selection!</h1>
      <h2>Please come up on the stage if your number is on the screen.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>3. Code Challenges</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>5 Random Code Challenges</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
    <p>You'll be presented with 5 random code challenges</p>
  </li>
  <li>
    <section class="left">
      <h1>1 Challenge At A Time</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>2 Code Samples Side-By-Side</h1>
      <h2>You have 15 seconds to pick one that you think it is faster.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>3 Out of 5</h1>
      <h2>You'll win a prize.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>4. Prize!</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>thoughtbot T-Shirt</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
    <p>Please come pick your size after you win! If I don't have it, I'll send it to you afterward.</p>
  </li>
  <li>
    <section class="left">
      <h1>5. Disclaimer</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>ruby 2.1.3p242</h1>
    </section>
    <section class="right">
      <h1>ruby 2.1.3p242</h1>
    </section>
  </li>
  <li>
    <section class="left">
      <h1><code>Benchmark.bmbm</code></h1>
      <h2>Avoid cost of memory allocation and garbage collection.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>Skewed Benchmark</h1>
      <h2>Number of iterations has been increased to make time significant.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
  </li>
  <li>
    <section class="left">
      <h1>May Not Be Real-World</h1>
      <h2>The difference may be insignificant for real world usage.</h2>
    </section>
    <section class="right">
      <h1>####</h1>
      <h2>####</h2>
    </section>
    <p>Sacrificing syntax over small improvement, etc.</p>
  </li>
  <li>
    <section class="left">
      <h1>Are You Ready?</h1>
    </section>
    <section class="right">
      <h1>####</h1>
    </section>
  </li>
</ul>
