<h2>Code Challenge #<%= @code_challenge.slug %></h2>
<h3>Goal: <%= @code_challenge.goal.humanize %></h3>
<pre><code><%= @code_challenge.left_code_sample %></code></pre>
<pre><code><%= @code_challenge.right_code_sample %></code></pre>
