<h1>Code challenge: #<%= @code_challenge.slug %></h1>

<%= content_tag_for :section, @code_challenge, class: "row" do %>
  <section class="col-md-6">
    <%= render_code_sample @code_challenge.left_code_sample %>
  </section>
  <section class="col-md-6">
    <%= render_code_sample @code_challenge.right_code_sample %>
  </section>
<% end %>
