<hr>
<footer>
  <p>
    The Ruby Challenge source code is availble on
    <%= link_to "GitHub", "https://github.com/sikachu/the_ruby_challenge" %>.
    Source code and code samples on this site are licensed under
    <%= link_to "MIT License", "https://github.com/sikachu/the_ruby_challenge/blob/master/LICENSE" %>
    unless otherwise noted.
  </p>
</footer>
